<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Tabulit</title>

        <!-- Bootstrap Core CSS -->
        <link href="{{asset('bundles/app/css/bootstrap.min.css')}}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{asset('bundles/app/css/viewing_page.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/app/css/profile_page.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/app/css/pricing_page.css')}}" rel="stylesheet">

        <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
        <!-- Bariol Regular CSS -->
        <link href="{{asset('bundles/app/fonts/stylesheet.css')}}" rel="stylesheet">

        <link href="{{asset('bundles/app/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
        <link rel="icon" type="image/png" href="{{asset('bundles/app/img/redcut_favicon.png')}}">


        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

                <div class="navbar-logo navbar-header page-scroll">
                    <a class="navbar-brand page-scroll" href="{{path('_viewing_page')}}"><div class="logo" style="width:inherit; height:inherit;"><img src= "{{ asset('bundles/app/img/redcut1.png') }}" >Tabulit</div></a>


                </div>

                <div class="nav navbar-nav">
                    <ul>
                        <li>
                            {# <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                                <input type="text" class="form-control" placeholder="Search novels..." name="srch-term" id="srch-term">
    
                            </div> #}
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                        </li>
                    </ul>
                </div>


                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <div class="navbar-right navbar-collapse page-scroll">
                        <ul class="profile-group navbar-header">

                            <a href="{{path('_profile')}}" style="color:#58585B;"><li id="full_name"><img class="nav-icon profile-icon" src="{{asset('bundles/app/img/tab_profile.jpg')}}" width="40" height="40">{{user.fullName}}</li></a>

                            <li>
                                <a href="{{path('_pricing_page')}}">

                                    <img class="nav-icon" id="note-icon" src="{{ asset('bundles/app/img/coinicon.png') }}" style="width: 30px; height: auto;">
                                </a>
                                <a href="#">
                                    <img class="nav-icon" id="token-icon" src="{{ asset('bundles/app/img/bellicon.png') }}" style="width: auto; height: 30px; margin-left: 8px;">
                                </a>
                            </li>
                            </a> 


                            {% if app.security.token is not null and app.user is not null  %}

                                <li id="logout_button">
                                    <a class="btn btn-primary btn-xl page-scroll" id="logout" href="{{path('_logout')}}" style="margin-left: 15px;">LOGOUT</a>
                                </li>

                            {% else %}

                                <li>
                                    <a class="page-scroll " id="item1" href="{{path('_login')}}">LOG IN</a>
                                </li>
                                <li>
                                    <a class="btn btn-primary btn-xl page-scroll" id="item2" href="{{path('_registration')}}">SIGN UP</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>

                    <!-- /.sidebar-collapse -->

                    <div class="navbar-default sidebar" role="navigation">
                        <div class="sidebar-nav navbar-collapse">
                            <div class="sidebar-browse">
                                <p>B R O W S E</p>
                                <ul>
                                    <a href="{{path('_viewing_page')}}"><li><div>All</div></li></a>
                                    <a href="{{path('_serials_cat')}}" id="serials"><li><div>Novels</div></li></a>
                                    <a href="{{path('_singles_cat')}}" id="singles"><li><div>Singles</div></li></a>
                                </ul>
                                <p id="social">S O C I A L&nbsp;&nbsp; M E D I A</p>
                                <div class="social-icons">
                                    <a class="twitter" href="https://twitter.com/Tabulit" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a class="fb" href="https://www.facebook.com/Tabulit/" target="_blank"><i class="fa fa-facebook"></i> </a>
                                    <a class="insta" href="https://instagram.com/official_tabulit/" target="_blank"><i class="fa fa-instagram"></i> </a>
                                </div>
                            </div>
                            

                        </div>

                    </div>
                </div>
            </nav>
            <!-- /.navbar-collapse -->

            {% block main %}
                <main>
                     <div class="row">
                        <div class="col-lg-12">
                            <div class="main-heading">
                                {% block heading %}
                                <h1>Today's Stories</h1>
                                {% endblock %}
                                    {#
                                     <div class="dropdown pull-right">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span id="dropdown_heading">All Stories</span>
                                            <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" id="today">Today</a></li>
                                            <li><a href="#" id="week">This week</a></li>
                                            <li><a href="#" id="month">This month</a></li>
                                            <li><a href="#" id="year">This year</a></li>
                                        </ul>
                                    </div> 
                                </h1>#}
                                <hr>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div id="serial_container">
                            {% for serial in serials %}
                                <div class="col-lg-4 {{serial.category}}" style="width:300px; margin: 25px;">
                                    <div class="story">
                                        
                                        <div class="story-box">
                                            
                                            <a href="{{path('_volumes_page', {'serial_id':serial.id})}}">
                                            {% if serial.filepath is not null %}
                                                <img src="{{asset('bundles/app/uploads/' ~ serial.filepath) }}" class="img-responsive" alt="">
                                           
                                            {% else %}
                                                <img src="http://placehold.it/270x300" class="img-responsive" alt="">   
                                            {% endif %}
                                            </a>

                                            <div class="story-box-caption">
                                                <div class="story-box-caption-content">
                                                    <div class="story-title">
                                                        <h2>{{serial.title}}</h2>
                                                    </div>
                                                    <div class="story-author">

                                                        {% set writer = serial.writtenBy %}
                                                        <h3>{% if writer is not null %}{{writer.fullName}}{% endif %}</h3>
                                                    </div>
                                                    <div class="story-desc">
                                                        <p>
                                                            {{serial.description}} </p>
                                                    </div>
                                                    <div class="story-star">
                                                    </div>

                                                    <a href="{{path('_volumes_page', {'serial_id':serial.id})}}"><button class="btn btn-primary" type="button">READ</button></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="story-info">
                                        <h3 class="title"><a id="story-info" href="{{path('_volumes_page', {'serial_id':serial.id})}}">{{serial.title}}</a></h3>
                                        <h3 class="author">{% if writer is not null %}{{writer.fullName}}{% endif %}</h3>
                                        </a>
                                    </div>
                                

                                </div>
                            
                            {% endfor %}
                        </div>
                    </div>
                </main>
            {% endblock %}

            <footer>
                <div class="logo pull-right"><img src="{{ asset('bundles/app/img/redcut1.png') }}" >Tabulit<p>© 2015 Tabulit Media Corporation</p>
                  <div class="sidebar-footer">
                   <a href="{{path('_terms')}}">Terms and Conditions</a><br>
                    <a href="{{path('_privacy')}}">Privacy and Security</a>
                   </div>
                </div>
            </footer>

        </div>

        {% block javascripts %}
            <!-- jQuery -->
            <script src="{{asset('bundles/app/js/jquery.js')}}"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="{{asset('bundles/app/js/bootstrap.min.js')}}"></script>
        {% endblock %}

        {% block add_javascripts %}
            <script>
                $('.dropdown-menu li a').click(
                        function (e) {
                            e.preventDefault();
                            var that = this,
                                    $that = $(that),
                                    id = that.id,
                                    container = $('#serial_container'),
                                    today = $('.today');
                            week = $('.week');
                            month = $('.month');
                            year = $('.year');
                            if (id == 'today') {
                                container.find(today).show();
                                container.find('.col-lg-4').not(today).hide();
                                $('.dropdown').find('#dropdown_heading').html('Today');
                            }
                            if (id == 'week') {
                                container.find(week).show();
                                container.find('.col-lg-4').not(week).hide();
                                $('.dropdown').find('#dropdown_heading').html('This Week');
                            }
                            if (id == 'month') {
                                container.find(month).show();
                                container.find('.col-lg-4').not(month).hide();
                                $('.dropdown').find('#dropdown_heading').html('This Month');
                            }
                            if (id == 'year') {
                                container.find(year).show();
                                container.find('.col-lg-4').not(year).hide();
                                $('.dropdown').find('#dropdown_heading').html('This Year');
                            }
                        }
                )

            </script>
        {% endblock %}

    </body>

</html>
