<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>SB Admin - Bootstrap Admin Template</title>

        {% block stylesheets %}
            <!-- Bootstrap Core CSS -->
            <link href="{{asset('bundles/app/css/bootstrap.min.css')}}" rel="stylesheet">

            <!-- Custom CSS -->
            <link href="{{asset('bundles/app/css/sb-admin.css')}}" rel="stylesheet">

            <!-- Morris Charts CSS -->
            <link href="{{asset('bundles/app/css/plugins/morris.css')}}" rel="stylesheet">

            <!-- Custom Fonts -->
            <link href="{{asset('bundles/app/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">

        {% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <style>
        input#title{
            min-width: 500px;
        }
        textarea#description {
            min-width:500px; 
            min-height:200px;
        }

        textarea#content {
            min-width: 700px;
            min-height: 400px;
        }
    </style>

    <body>

        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{path('_admin_homepage')}}">Tabulit Admin</a>
                </div>
                <!-- Top Menu Items -->
                <ul class="nav navbar-right top-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{user.firstName}} {{user.lastName}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{{path('_logout')}}"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">                
                        <li class="active">
                            <a href=""><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-book"></i> Serials <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="demo" class="collapse">
                                <li>
                                    <a href="{{path('_create_serial')}}">Create a new Serial</a>
                                </li>
                                <li>
                                    <a href="{{path('_all_serials')}}">View all Serial</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#demo2"><i class="fa fa-fw fa-book"></i> Volumes <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="demo2" class="collapse">
                                <li>
                                    <a href="{{path('_create_volume')}}">Create a new Volume</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{path('_all_users')}}"><i class="fa fa-fw fa-user"></i> View All Users</a>
                        </li>
                        <li>
                            <a href="{{path('_new_mail')}}"><i class="fa fa-fw fa-mail-reply"></i>Create New Mail</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>

            <div id="page-wrapper">

                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">
                                {% block header %}
                                    Tabulit <small>Main Dashboard</small>
                                {% endblock %}
                            </h1>
                            <ol class="breadcrumb">
                                {% block breadcrumbs %}
                                <li class="active">
                                    <i class="fa fa-dashboard"></i> Main
                                </li>
                                {% endblock %}
                            </ol>
                        </div>
                    </div>
                    <!-- /.row -->
                    {% block content %}
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Tasks Panel</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="list-group">
                                            {% for log in logs %}
                                                <div class="list-group-item">
                                                    <span class="badge">{{ log.created|time_ago_in_words }}</span>
                                                    <i class="fa fa-fw fa-calendar"></i> {{log.note}}
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="text-right">
                                            <a href="{{path('_all_logs')}}">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Tasks Panel</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="list-group">

                                        </div>
                                        <div class="text-right">
                                            <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- /.row -->

                        </div>
                    {% endblock %}
                    <!-- /.container-fluid -->

                </div>

                <!-- /#page-wrapper -->

            </div>
            <!-- /#wrapper -->

            {% block javascripts %}
                <!-- jQuery -->
                <script src="{{asset('bundles/app/js/jquery.js')}}"></script>

                <!-- Bootstrap Core JavaScript -->
                <script src="{{asset('bundles/app/js/bootstrap.min.js')}}"></script>

                <!-- Morris Charts JavaScript -->
                <script src="{{asset('bundles/app/js/plugins/morris/raphael.min.js')}}"></script>
                <script src="{{asset('bundles/app/js/plugins/morris/morris.min.js')}}"></script>
                <script src="{{asset('bundles/app/js/plugins/morris/morris-data.js')}}"></script>
            {% endblock %}
    </body>

</html>
