{% extends 'AppBundle:Viewing_Page:viewpage.html.twig' %}

{% block main %}

    <main>
            <div class="row">
                
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="price-heading profile-space">
                        <img class="nav-icon profile-picture" src="{{asset('bundles/app/img/tab_profile.jpg')}}" width="200" height="200">
                    </div>
                </div>
                
            </div>
            <div class="row">
                
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="price-heading">
                        <h1>{{user.fullName}}</h1> <!-- profile name -->
                        <!-- COINS -->
                        {% for flashMessage in app.session.flashbag.get('notice') %}
                            <div class="flash-notice">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                        <h3>{{user.coin}} Coins</h3>
                        <!-- <a href="#"><h4><img class="nav-icon" src="{{asset('bundles/app/img/TwitterLogo.jpg')}}" alt="twitter" width="20" height="20">@michaelklumps64</h4></a> this is where the twitter handle goes -->
                    </div>

                </div>

            </div>

    </main>
{% endblock %}
